<div class="container index">
  <div class="row flex soundes">
    <h1 class="header"><%= link_to "♪", new_recommend_path, class: 'buruburu buruburu-hover shadow lime-text text-accent-2'%></h1>
    <br><br>
  </div>
  <div class="video-area">
    <video class="video materialboxed" loop autoplay muted playsinline webkit-playsinline>
      <source src="/assets/nc217854.mp4" type="video/mp4">
      <p>動画を再生できる環境ではありません</p>
    </video>
  </div>
  <div class="row col s4">
    <p class="recommender"><%= "#{@recommender.nickname}さんがログイン中" if recommender_signed_in? %></p>
    <p class="recommender"><%= "管理人モード！！！" if admin_signed_in? %></p>
  </div>
  <%= render partial: 'floating' %>
</div>

  <!-- Modal Structure -->
<div id="session-modal" class="modal"></div>
<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>