<div class="container" style="width: 100vw;height: 100vh;">
  <div class="row flex" style="height: 100vh;">
    <h1 class="header">HelloW<%= link_to "", new_recommend_path, class: 'buruburu buruburu-hover'%>rld</h1>
    <br><br>
  </div>
</div>