<div class="container">
  <div class="row center">
      <h1 class="header center">HelloWorld</h1>
    <br><br>
    
    <div class="container">
      <div class="row">
        <%= link_to "曲をおすすめする", new_recommend_path %>
      </div>
    </div>
  </div>
</div>