/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .flex {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .buruburu {
  display: inline-block;
  animation: hurueru .4s  infinite;
}
.buruburu-hover:hover {
  display: inline-block;
  animation: hurueru2 .1s  infinite;
}

@keyframes hurueru {
  0% {transform: translate(1px, 1px) rotateZ(-1deg)}
  25% {transform: translate(1px, 1px) rotateZ(1deg)}
  50% {transform: translate(0px, 1px) rotateZ(0deg)}
  75% {transform: translate(1px, 0px) rotateZ(-1deg)}
  100% {transform: translate(1px, 1px) rotateZ(1deg)}
}
@keyframes hurueru2 {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(3px, 3px) rotateZ(3deg)}
  50% {transform: translate(0px, 3px) rotateZ(0deg)}
  75% {transform: translate(3px, 0px) rotateZ(-3deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 9999999;
  text-align:center;
  color:#fff;
}
.splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body{
  background:#333;
}
body.appear{
  background:#fff;
}
.splashbg1,.splashbg2{
  display: none;
}
body.appear .splashbg1,body.appear .splashbg2{
  display:block;
}
body.appear .splashbg1{
  animation-name:PageAnime;
  animation-duration:1.4s;
  animation-timing-function:ease-in-out;
  animation-fill-mode:forwards;
    content: "";
    position:fixed;
  z-index: 999;
    width: 100%;
    height: 100vh;
    bottom:50%;
  left:0;
    transform: scaleY(1);
    background-color: #333;
}
@keyframes PageAnime{
  0% {
    transform-origin:top;
    transform:scaleY(1);
  }
  100% {
    transform-origin:top;
    transform:scaleY(0);
  }
}
body.appear .splashbg2{
  animation-name:PageAnime2;
  animation-duration:1.4s;
  animation-timing-function:ease-in-out;
  animation-fill-mode:forwards;
  content: "";
  position:fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 50%;
  left:0;
  transform: scaleY(1);
  background-color: #333;
}
@keyframes PageAnime2{
  0% {
    transform-origin:bottom;
    transform:scaleY(1);
  }
  100% {
    transform-origin:bottom;
    transform:scaleY(0);
  }
}
.container1{
  opacity: 0;
}
body.appear .container1{
  animation-name:PageAnimeAppear;
  animation-duration:1s;
  animation-delay:0.2s;
  animation-fill-mode:forwards;
  opacity: 0;
}
@keyframes PageAnimeAppear{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}