// Place all the styles related to the recommends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index {
  background-image: url("/assets/index_image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-color: rgba(70,70,70,0.9);
  margin: 0;
  height: 100vh;
  width: 100vw;
  min-width: 100%;
}
.soundes {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 100%;
  text-align: center;
}
.video-area {
  position: fixed;
  z-index: -1;
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}
.video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 100%;
  min-width: 100%;
}
.shadow{
  text-shadow: 3px 4px 6px #b8b6b6;
}
.recommender {
  margin: 0px 0px 0px 20px;
  padding: 10px 0px;
}